/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/* Welcome Message */
.welcome-message {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #e7f7ff;
    border: 1px solid #b3d9ff;
    border-radius: 5px;
}

    .welcome-message h2 {
        margin: 0;
        color: #0078F0;
        font-size: 24px;
    }
