<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Serene Heights</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    
    @RenderSection("Styles", required: false)

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
<body class="light-mode">

    <div class="wrapper">
        <div class="main-content">
            @RenderBody()
        </div>
        <footer class="footer">
            <p>&copy; 2024 Grand Royal Swiss Hotel. All rights reserved.</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/theme-toggle.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            if (TempData["ShowWelcomeMessage"] != null && TempData["ShowWelcomeMessage"].ToString() == "true") {
                var userName = '@TempData["UserName"]';
                toastr.success('Welcome, ' + userName + '!');
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
