@using InvestmentProj.ViewModels
@model LoginVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"
</head>

<body class="light-mode">
    @{
        ViewData["Title"] = "Login";
    }

    <div class="rectangle-container compact">
        <div class="login-container compact">
            <div class="icon-container compact">
                <div class="ellipse compact">
                    <img src="~/images/focal-person.jpeg" alt="Person Icon" class="icon-img">
                </div>
            </div>
            <h2 class="login-heading compact">Login</h2>
            <form asp-action="Login" class="compact-form">
                <div asp-validation-summary="ModelOnly" class="text-danger compact"></div>

                <div class="form-group compact">
                    <input asp-for="Username" class="form-control compact" placeholder="Username">
                    <span class="focal-icon compact"></span>
                </div>

                <div class="form-group compact">
                    <input asp-for="Password" class="form-control compact" placeholder="Password" type="password">
                    <span class="visibility-off-icon compact"></span>
                </div>

                <div class="form-group remember-me-container compact">
                    <div class="form-check compact">
                        <input asp-for="RememberMe" class="form-check-input compact remember-me-checkbox" />
                        <label class="form-check-label compact remember-me-label">Remember Me</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary login-button compact">Login</button>

                <div class="mt-2">
                    <p class="text-muted text-center compact">Don't have an account? <a asp-action="Register" class="btn-link compact">Register now</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
