@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">

<div class="hero-section">
    <div class="container text-center">
        <h1 class="display-4">
            <span class="d-block">Welcome To</span>
            <span class="d-block">The Grand Royal Swiss Hotel</span>
        </h1>
        <p class="lead">Our hotels offer glamour and comfort that expands the imagination and cradles the spirit.</p>

        <a href="/book-room" class="btn btn-primary">Book now</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}
